{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} rad {% endblock %}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel='shortcut icon' href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">  
        <link rel="stylesheet" href="{% static 'css/base.css' %}">  
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">  
    </head>
    <body>
    
        {% include "assests/navbar.html" %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags}} alert-dismissible fade show" style="position:absolute;z-index:100;width:100%;" role="alert">
            {{ message|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}

        <div class="container-fluid footer test py-3 invisible">
            <div class="d-flex justify-content-center align-items-center">
                <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram text-danger ml-1"></i></a>
                <a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter text-primary ml-1"></i></a>
                <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook text-white ml-1"></i></a>
                <a href="{% url 'post_feed' %}" target="_blank"><i class="fas fa-rss text-warning ml-1"></i></a>
                <p class="m-0 text-light text-center text-muted ml-1">Copyright &copy; rad</p>
            </div>
        </div>
        <div class="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>
        
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/ajax.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>

        {% block javascript %}
        {% endblock %}
    </body>
</html>